.specialOfferCard{
    width: 48.4rem !important;
    height: 48.4rem !important;


    &__button{
        width: 10.6rem !important;
        height: 10.5rem !important;
    }

    &__title{
        font-size: 5.5rem !important;
    }
}