<header class="header pageHeader">
    <div class="corona align-items-center">
        <div class="container d-flex">
            <p class="ms-auto">
                <span>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                    >
                        <g id="Group_1022" data-name="Group 1022" transform="translate(-684 -27)">
                            <path
                                id="Path_15532"
                                data-name="Path 15532"
                                d="M708,39a12.031,12.031,0,1,1-.231-2.341A11.951,11.951,0,0,1,708,39Z"
                                fill="#fff"
                                opacity="0.4"
                            />
                            <rect
                                id="Rectangle_581"
                                data-name="Rectangle 581"
                                width="3"
                                height="9"
                                transform="translate(694.5 37.741)"
                                fill="#fff"
                            />
                            <path
                                id="Path_15533"
                                data-name="Path 15533"
                                d="M696,31.741a1.5,1.5,0,0,1,1.385.926,1.49,1.49,0,0,1,0,1.148,1.5,1.5,0,0,1-2.771,0A1.5,1.5,0,0,1,696,31.741Z"
                                fill="#fff"
                            />
                        </g>
                    </svg>
                </span>
                <strong>
                    COVID-19:
                </strong>
                Updates and more about our extenden-cancelation policies
            </p>
            <a href="#" class="corona__close ms-auto ">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="18.064"
                    height="18.064"
                    viewBox="0 0 18.064 18.064"
                >
                    <g id="Group_822" data-name="Group 822" transform="translate(-1761.793 -85.793)">
                        <line
                            id="Line_34"
                            data-name="Line 34"
                            x2="16.65"
                            y2="16.65"
                            transform="translate(1762.5 86.5)"
                            fill="none"
                            stroke="#fff"
                            stroke-width="2"
                        />
                        <line
                            id="Line_35"
                            data-name="Line 35"
                            x1="16.65"
                            y2="16.65"
                            transform="translate(1762.5 86.5)"
                            fill="none"
                            stroke="#fff"
                            stroke-width="2"
                        />
                    </g>
                </svg>
            </a>
        </div>
    </div>
   
        <div class="headerTop pageHeader__top d-flex align-items-center">
            <div class="container d-flex align-items-center">
            <a href="#" class="menuOpen headerTop__menu">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="23"
                    viewBox="0 0 80 23"
                >
                    <g id="Group_1026" data-name="Group 1026" transform="translate(-69.5 -86)">
                        <line
                            id="Line_30"
                            data-name="Line 30"
                            x2="80"
                            transform="translate(69.5 87.5)"
                            fill="none"
                            stroke="#14321d"
                            stroke-width="3"
                        />
                        <line
                            id="Line_31"
                            data-name="Line 31"
                            x2="80"
                            transform="translate(69.5 107.5)"
                            fill="none"
                            stroke="#14321d"
                            stroke-width="3"
                        />
                    </g>
                </svg>
            </a>
            <a href="#" class="headerTop__login">
                 <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40.001"
                    height="40"
                    viewBox="0 0 40.001 40"
                >
                    <g id="Group_6023" data-name="Group 6023" transform="translate(-50.039 -49.996)">
                        <path
                            id="Path_15542"
                            data-name="Path 15542"
                            d="M90.04,70a20,20,0,1,1-20-20A20,20,0,0,1,90.04,70Z"
                            fill="#14321d"
                        />
                        <g id="Group_6022" data-name="Group 6022" transform="translate(60.638 56.992)">
                            <path
                                id="Path_15543"
                                data-name="Path 15543"
                                d="M136.185,219.589c0,5.192,18.8,5.192,18.8,0a9.4,9.4,0,1,0-18.8,0Z"
                                transform="translate(-136.185 -197.474)"
                                fill="#fff"
                            />
                            <path
                                id="Path_15544"
                                data-name="Path 15544"
                                d="M165.631,112.633a5.778,5.778,0,1,0,5.778-5.778A5.779,5.779,0,0,0,165.631,112.633Z"
                                transform="translate(-162.008 -106.855)"
                                fill="#fff"
                            />
                        </g>
                    </g>
                </svg>
            </a>
            <a href="#" class="headerFixed__title mx-auto">
                the merchant baku
            </a>
            <a href="#" class="headerTop__search">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22.625"
                    height="23.435"
                    viewBox="0 0 22.625 23.435"
                >
                    <g id="Group_5966" data-name="Group 5966" transform="translate(16072 11284)">
                        <g
                            id="Ellipse_22"
                            data-name="Ellipse 22"
                            transform="translate(-16072 -11284)"
                            fill="none"
                            stroke="#14321d"
                            stroke-width="2"
                        >
                            <ellipse
                                cx="9.908"
                                cy="9.982"
                                rx="9.908"
                                ry="9.982"
                                stroke="none"
                            />
                            <ellipse
                                cx="9.908"
                                cy="9.982"
                                rx="8.908"
                                ry="8.982"
                                fill="none"
                            />
                        </g>
                        <line
                            id="Line_73"
                            data-name="Line 73"
                            x2="5.896"
                            y2="6.06"
                            transform="translate(-16055.988 -11267.322)"
                            fill="none"
                            stroke="#14321d"
                            stroke-width="2"
                        />
                    </g>
                </svg>
            </a>
            <a href="#" class="headerTop__bookNow">
                <span>
                    Book now
                </span>
            </a>
            <a href="#" class="headerTop__language headerFixed__language">
                English
            </a>
        </div>
    </div>
    <div class="headerFixed d-flex align-items-center">
        <div class="container d-flex align-items-center">
            <a href="#" class="menuOpen headerFixed__menu">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="80"
                    height="23"
                    viewBox="0 0 80 23"
                >
                    <g id="Group_1026" data-name="Group 1026" transform="translate(-69.5 -86)">
                        <line
                            id="Line_30"
                            data-name="Line 30"
                            x2="80"
                            transform="translate(69.5 87.5)"
                            fill="none"
                            stroke="#14321d"
                            stroke-width="3"
                        />
                        <line
                            id="Line_31"
                            data-name="Line 31"
                            x2="80"
                            transform="translate(69.5 107.5)"
                            fill="none"
                            stroke="#14321d"
                            stroke-width="3"
                        />
                    </g>
                </svg>
            </a>
            <a href="#" class="headerFixed__login headerTop__login">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40.001"
                    height="40"
                    viewBox="0 0 40.001 40"
                >
                    <g id="Group_6023" data-name="Group 6023" transform="translate(-50.039 -49.996)">
                        <path
                            id="Path_15542"
                            data-name="Path 15542"
                            d="M90.04,70a20,20,0,1,1-20-20A20,20,0,0,1,90.04,70Z"
                            fill="#14321d"
                        />
                        <g id="Group_6022" data-name="Group 6022" transform="translate(60.638 56.992)">
                            <path
                                id="Path_15543"
                                data-name="Path 15543"
                                d="M136.185,219.589c0,5.192,18.8,5.192,18.8,0a9.4,9.4,0,1,0-18.8,0Z"
                                transform="translate(-136.185 -197.474)"
                                fill="#fff"
                            />
                            <path
                                id="Path_15544"
                                data-name="Path 15544"
                                d="M165.631,112.633a5.778,5.778,0,1,0,5.778-5.778A5.779,5.779,0,0,0,165.631,112.633Z"
                                transform="translate(-162.008 -106.855)"
                                fill="#fff"
                            />
                        </g>
                    </g>
                </svg>
            </a>
            <a href="#" class="headerFixed__title mx-auto">
                the merchant baku
            </a>
            <a href="#" class="headerFixed__search headerTop__search">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="22.625"
                    height="23.435"
                    viewBox="0 0 22.625 23.435"
                >
                    <g id="Group_5966" data-name="Group 5966" transform="translate(16072 11284)">
                        <g
                            id="Ellipse_22"
                            data-name="Ellipse 22"
                            transform="translate(-16072 -11284)"
                            fill="none"
                            stroke="#14321d"
                            stroke-width="2"
                        >
                            <ellipse
                                cx="9.908"
                                cy="9.982"
                                rx="9.908"
                                ry="9.982"
                                stroke="none"
                            />
                            <ellipse
                                cx="9.908"
                                cy="9.982"
                                rx="8.908"
                                ry="8.982"
                                fill="none"
                            />
                        </g>
                        <line
                            id="Line_73"
                            data-name="Line 73"
                            x2="5.896"
                            y2="6.06"
                            transform="translate(-16055.988 -11267.322)"
                            fill="none"
                            stroke="#14321d"
                            stroke-width="2"
                        />
                    </g>
                </svg>
            </a>
            <a href="#" class="headerFixed__bookNow headerTop__bookNow">
                <span>
                    Book now
                </span>
            </a>
            <a href="#" class="headerFixed__language headerTop__language">
                English
            </a>
        </div>
    </div>
    <div class="menu">
        <a href="#" class="menu__language">
            English
        </a>
        <img src="img/menuback.png" alt="" class="menu__back">
        <a href="#" class="menu__close">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30.758"
                height="30.758"
                viewBox="0 0 30.758 30.758"
            >
                <g id="Group_822" data-name="Group 822" transform="translate(-1761.793 -85.793)">
                    <line
                        id="Line_34"
                        data-name="Line 34"
                        x2="29.344"
                        y2="29.344"
                        transform="translate(1762.5 86.5)"
                        fill="none"
                        stroke="#fff"
                        stroke-width="2"
                    />
                    <line
                        id="Line_35"
                        data-name="Line 35"
                        x1="29.344"
                        y2="29.344"
                        transform="translate(1762.5 86.5)"
                        fill="none"
                        stroke="#fff"
                        stroke-width="2"
                    />
                </g>
            </svg>
        </a>
        
        <a href="#" class=" menu__message">
            <svg id="chat" xmlns="http://www.w3.org/2000/svg" width="36.119" height="36.849" viewBox="0 0 36.119 36.849">
                <g id="Group_878" data-name="Group 878" transform="translate(0 0)">
                  <path id="Union_3" data-name="Union 3" d="M6.366,27.179H0V0H36.119V27.179H15.71l-9.343,9.67Z" transform="translate(0 0)" fill="#f6f6f6"/>
                  <g id="Group_882" data-name="Group 882" transform="translate(8.49 6.798)">
                    <g id="Group_881" data-name="Group 881">
                      <g id="Group_875" data-name="Group 875">
                        <path id="Path_4092" data-name="Path 4092" d="M107.415,83.75h18.6v2.127h-18.6Z" transform="translate(-107.415 -83.75)" fill="#14321d"/>
                      </g>
                      <g id="Group_876" data-name="Group 876" transform="translate(0 5.242)">
                        <path id="Path_4093" data-name="Path 4093" d="M107.415,149.22h15.029v2.127H107.415Z" transform="translate(-107.415 -149.22)" fill="#14321d"/>
                      </g>
                      <g id="Group_877" data-name="Group 877" transform="translate(0 10.67)">
                        <path id="Path_4094" data-name="Path 4094" d="M107.415,214.68h18.6v2.127h-18.6Z" transform="translate(-107.415 -214.68)" fill="#14321d"/>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
              
        </a>
        <div class="menu__center">
            <nav class="mynav navbar navbar-expand">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Baku
                        </a>
                    </li>
                    <li class="nav-item subMenu">
                        <a href="#" class="nav-link">
                            Hotel
                        </a>
                        <ul class="subMenu__list">
                            <li class="subMenu__item">
                                <a href="#" class="subMenu__link">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="19.169"
                                        height="12.919"
                                        viewBox="0 0 19.169 12.919"
                                    >
                                        <g id="bed" transform="translate(0 -80)">
                                            <g id="Group_60" data-name="Group 60" transform="translate(5.832 82.914)">
                                                <g id="Group_59" data-name="Group 59" transform="translate(0 0)">
                                                    <path
                                                        id="Path_3345"
                                                        data-name="Path 3345"
                                                        d="M160.508,154.6h-9.915c-.484,0-1.293.184-1.293,1.43v1.906h12.5V156.03C161.8,154.788,160.992,154.6,160.508,154.6Z"
                                                        transform="translate(-149.3 -154.6)"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                            <g id="Group_62" data-name="Group 62" transform="translate(0 80)">
                                                <g id="Group_61" data-name="Group 61" transform="translate(0 0)">
                                                    <path
                                                        id="Path_3346"
                                                        data-name="Path 3346"
                                                        d="M3.137,86.664H1.25V80H0V92.919H1.25V89.583H17.919v3.332h1.25v-6.25Z"
                                                        transform="translate(0 -80)"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                            <g id="Group_64" data-name="Group 64" transform="translate(1.586 82.836)">
                                                <g id="Group_63" data-name="Group 63" transform="translate(0 0)">
                                                    <circle
                                                        id="Ellipse_13"
                                                        data-name="Ellipse 13"
                                                        cx="1.746"
                                                        cy="1.746"
                                                        r="1.746"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span>
                                        Deluxe suite with balcony
                                    </span>
                                </a>
                            </li>
                            <li class="subMenu__item">
                                <a href="#" class="subMenu__link">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="19.169"
                                        height="12.919"
                                        viewBox="0 0 19.169 12.919"
                                    >
                                        <g id="bed" transform="translate(0 -80)">
                                            <g id="Group_60" data-name="Group 60" transform="translate(5.832 82.914)">
                                                <g id="Group_59" data-name="Group 59" transform="translate(0 0)">
                                                    <path
                                                        id="Path_3345"
                                                        data-name="Path 3345"
                                                        d="M160.508,154.6h-9.915c-.484,0-1.293.184-1.293,1.43v1.906h12.5V156.03C161.8,154.788,160.992,154.6,160.508,154.6Z"
                                                        transform="translate(-149.3 -154.6)"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                            <g id="Group_62" data-name="Group 62" transform="translate(0 80)">
                                                <g id="Group_61" data-name="Group 61" transform="translate(0 0)">
                                                    <path
                                                        id="Path_3346"
                                                        data-name="Path 3346"
                                                        d="M3.137,86.664H1.25V80H0V92.919H1.25V89.583H17.919v3.332h1.25v-6.25Z"
                                                        transform="translate(0 -80)"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                            <g id="Group_64" data-name="Group 64" transform="translate(1.586 82.836)">
                                                <g id="Group_63" data-name="Group 63" transform="translate(0 0)">
                                                    <circle
                                                        id="Ellipse_13"
                                                        data-name="Ellipse 13"
                                                        cx="1.746"
                                                        cy="1.746"
                                                        r="1.746"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span>
                                        Deluxe king room
                                    </span>
                                </a>
                            </li>
                            <li class="subMenu__item">
                                <a href="#" class="subMenu__link">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="19.169"
                                        height="12.919"
                                        viewBox="0 0 19.169 12.919"
                                    >
                                        <g id="bed" transform="translate(0 -80)">
                                            <g id="Group_60" data-name="Group 60" transform="translate(5.832 82.914)">
                                                <g id="Group_59" data-name="Group 59" transform="translate(0 0)">
                                                    <path
                                                        id="Path_3345"
                                                        data-name="Path 3345"
                                                        d="M160.508,154.6h-9.915c-.484,0-1.293.184-1.293,1.43v1.906h12.5V156.03C161.8,154.788,160.992,154.6,160.508,154.6Z"
                                                        transform="translate(-149.3 -154.6)"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                            <g id="Group_62" data-name="Group 62" transform="translate(0 80)">
                                                <g id="Group_61" data-name="Group 61" transform="translate(0 0)">
                                                    <path
                                                        id="Path_3346"
                                                        data-name="Path 3346"
                                                        d="M3.137,86.664H1.25V80H0V92.919H1.25V89.583H17.919v3.332h1.25v-6.25Z"
                                                        transform="translate(0 -80)"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                            <g id="Group_64" data-name="Group 64" transform="translate(1.586 82.836)">
                                                <g id="Group_63" data-name="Group 63" transform="translate(0 0)">
                                                    <circle
                                                        id="Ellipse_13"
                                                        data-name="Ellipse 13"
                                                        cx="1.746"
                                                        cy="1.746"
                                                        r="1.746"
                                                        fill="#ad8c56"
                                                    />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                    <span>
                                        Deluxe twin room
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Dining
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Events
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Fitness Room
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Contact
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>



   


