.diningImg {
    padding-top: 8rem;
    .container {
        @include respondmin(xxl) {
            max-width: 1568px !important;
        }
    }



    &__small{
        margin-top: 17.5rem;

        &--right{
            margin-top: 9.7rem;
            float: right;
        }
    }
   
}
