/* Fonts */
$aznb:jaznb; 
$gtm:Gotham; 
$gtbld:Gotham-Bold; 
$gtlt:Gotham-Light; 
$gtmdm:Gotham-Medium; 
$gtmth:Gotham-Thin; 
$grd:GrodnaRegular; 
$spt:Scriptina; 
$sptas:Scriptina-Alternates; 


/* Colors */

$color-primary:#14321D;
$color-secondary:#AD8C56;

$color-gray-dark: #58595B;